@use "../abstracts/" as a;

:root {
  // colors
  // --clr-dark: #070707;
  // --clr-light: #fefefe;

  --clr-bg-main: #2a3447;
  --clr-bg-soft: #384256;
  --clr-bg-dark: #222b3c;

  --clr-main: white;
  --clr-soft: #ddd;
  --clr-dark: #2a3447;

  --clr-accent: #02dac5;
  --clr-section-header: #6a6a6a;

  // font-families
  --ff-sans: "Inter", sans-serif;
  --ff-serif: "Kurale", serif;

  // font-sizes from ../abstract/type
  // Might need to add more breakpoints
  @each $screen-size, $font-size in a.$type-scale {
    @if $screen-size == small {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include a.breakpoint(medium) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }
}
