@use "../../sass/abstracts/" as abs;

// .ticket {
//   display: flex;
//   .code {
//     background-color: #25573e;
//     padding: abs.rem(50);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;

//     h2 {
//       margin-bottom: abs.rem(12);
//     }

//     p {
//       margin-bottom: abs.rem(30);
//       // background-color: white;
//       // color: var(--clr-dark);
//       // padding: 2px;
//       // border-radius: 25px;
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//     }
//   }
//   .artwork {
//     background-color: #f4f0ce;
//     background-image: url(../../assets/images/backgrounds/ticket-artwork.png);
//     background-size: cover;
//     // background-image: url(../../assets/images/backgrounds/login-morning.jpg);
//     width: abs.rem(818);
//     border-left: 4px dashed #c12d2e;
//   }
// }

.ticket {
  // display: flex;
  width: abs.rem(1040);
  aspect-ratio: 2000 / 647;
  // align-items: center;
  // justify-content: center;
  background-image: url(../../assets/images/backgrounds/christmas-ticket-template.png);
  background-size: cover;
  position: relative;

  .code {
    position: absolute;
    top: 45%;
    left: 46%;
    // left: 475px;
    // bottom: 40px;
    width: 10%;
  }
}
